# CPU-only PyTorch with fixed versions
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1+cpu
torchvision==0.15.2+cpu

# Fixed versions of key packages to ensure compatibility
numpy==1.24.3
matplotlib==3.7.1
pandas==2.0.2
#ipykernel==6.25.0
streamlit==1.28.0
streamlit-drawable-canvas==0.9.3
psycopg2-binary==2.9.6
pillow==9.5.0
#opencv-python==4.7.0.72
python-dotenv==1.0.0